<h1>Bonjour {{user}}, ravi de te voir !</h1>
<h2>Comment te sens tu aujourd’hui ?</h2>
<section class="icons-container">
  <img class="icons" src="../assets/sad.jpg" alt="">
  <img class="icons" src="../assets/happy.jpg" alt="">
  <img class="icons" src="../assets/angry.png" alt="">
  <img class="icons" src="../assets/diying-og-laughter.jpg" alt="">
  <img class="icons" src="../assets/funny.jpg" alt="">
  <img class="icons" src="../assets/jaded.jpg" alt="">
  <img class="icons" src="../assets/sick.jpg" alt="">
  <img class="icons" src="../assets/very-sad.jpg" alt="">
  <img class="icons" src="../assets/lovely.jpg" alt="">
</section>