<h1>Bonjour {{user}}, ravi de te voir !</h1>
<h2>Comment te sens tu aujourd’hui ?</h2>
<section class="icons-container">
  <img *ngIf="sadIcon" (click)="sad()" class="icons" src="../assets/sad.jpg" alt="sad Icon">
  <img *ngIf="happyIcon" (click)="happy()" class="icons" src="../assets/happy.jpg" alt="">
  <img *ngIf="angryIcon" (click)="angry()" class="icons" src="../assets/angry.png" alt="">
  <img *ngIf="laughterIcon" (click)="laugther()" class="icons" src="../assets/diying-og-laughter.jpg" alt="">
  <img *ngIf="funnyIcon" (click)="funny()" class="icons" src="../assets/funny.jpg" alt="">
  <img *ngIf="jadedIcon" (click)="jaded()" class="icons" src="../assets/jaded.jpg" alt="">
  <img *ngIf="sickIcon" (click)="sick()" class="icons" src="../assets/sick.jpg" alt="">
  <img *ngIf="verySadIcon" (click)="verySad()" class="icons" src="../assets/very-sad.jpg" alt="">
  <img *ngIf="lovelyIcon" (click)="lovely()" class="icons" src="../assets/lovely.jpg" alt="">
</section>


<h3  *ngIf="display && humor != ''">Tu es {{humor}}? Voici comment vous pouvez améliorer votre émotion.</h3>
<section *ngIf="display" class="container-info" style="background-color: bgc;">

  <div class="col1">
  <div class="info-border1">
    <p class="label">Musique</p>
    <div class="musique">
      <img src= "{{ imageMusique1 }}">
    <p>{{ titreMusique1 }}</p>
    </div>

    <div class="musique">
      <img src= "{{ imageMusique2 }}">
    <p>{{ titreMusique2 }}</p>
    </div>
  </div>

  <div class="info-border2">
    <p class="label">GIF</p>
    <img src="{{ GIF }}" border="0" alt="Stitch triste">
  </div>
</div>

<div class="col2">
  <div class="info-border3">
    <p class="label">Conseils humeurs</p>
    <p><strong>{{ titreConseil1 }}</strong><br><br>
     {{ conseil1 }}
     <br>
     <br>
      <strong> {{ titreConseil2 }}<br><br></strong>
      {{ conseil2 }}
    </p>
  </div>

  <p>{{paraPositive}}</p>

  <div class="info-border4">
    <p class="label">Citation</p>
    <p>{{ paraPhilo }}</p>
  </div>
</div>

  <div class="col3">
  <div class="info-border5">
    <p class="label">Films ou séries</p>
    <p>{{filmSeriesDisplay}}</p>
  </div>

  <div class="info-border6">
    <p class="label"> Défi du jour</p>
    <p>{{defisDisplay}}</p>
  </div>

  <div class="info-border7">
    <p class="label">Statistiques</p>
    <p>Il y a actuellement {{statistiques}} personnes qui partagent ton émotion.</p>
  </div>
</div>

</section>
